@page "/authentication/logout"
@using Hubbetech.Client.Services
@inject AuthService AuthService
@inject NavigationManager NavigationManager

<p>Saindo...</p>

@code {
    protected override async Task OnInitializedAsync()
    {
        await AuthService.Logout();
        NavigationManager.NavigateTo("authentication/login");
    }
}
